@font-face{
   font-family: "zhegotte";
   src: url(../assets/fonts/Zhegotte.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100 vh;
    color: black;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    background-color: whitesmoke;
}
header {
    width: 100vw;
    height: 20vh;
    background-color: black;
}

#mainIndex {
    background-color: whitesmoke;
    width: 100vw;
    height: 60 vh;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "profesionalismo simpleza confianza"
                        "proyectos realidades funcionalidad";
}
#section_profesionalismo {
    background-color:  whitesmoke;
    grid-area: profesionalismo;
    }
#section_simpleza {
    background-color: whitesmoke;
    grid-area: simpleza;
}

#section_confianza {
    background-color:  whitesmoke;
    grid-area: confianza;
}
#section_proyectos {
    background-color:  whitesmoke;
    grid-area: proyectos;
}  
#section_realidades {
    background-color: whitesmoke;
    grid-area: realidades;
}  
#section_funcionalidad {
    background-color: whitesmoke;
    grid-area: funcionalidad;
} 
.divImg {
    background-position: center;
    background-size: contain;
}

#nosotros {
    background-color: whitesmoke;
    width: 100vw;
    height: 60 vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat (2, 50%);
    grid-template-rows: repeat (2, 1fr);
    grid-template-areas: " nosotrosSpech nosotrosImagen"
                        "nosotrosTextoResaltado nosotrosImagen";
}
#nosotrosSpech {
    padding: 10px;
    align-items: right;
    font-size: 1rem;
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: flex-start;
    
}
#nosotrosTextoResaltado {
    padding: 20px;
    color: black;
    font-size: 2rem;
    align-items: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    grid-area: nosotrosTextoResaltado;
}
#nosotrosImagen{
    padding: 10px;
    grid-area: nosotrosImagen;
    align-items: flex-end;
}
main section #nosotrosImagen {
    height: 200px;
    width: 200px;
}
h1 {
    text-align: left;
    background-position: left;
    color: yellow;
    font-family: "zhegotte";    
}
h3 {
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 10px;
}
#navHeader {
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    background-color: black;
    text-align: right;
}
#NavServicios{
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: whitesmoke;
    
}

#navHeader ul li {
    display: inline-block;
    background-size: contain;
    background-position: right;
}
#navServicios ul li {
    justify-items: left;
    
    
}
ul li a {
    text-decoration: none;
    color: yellow;
    padding: 10px 10px 10px 10px ;
    margin-right: 10px; 
}
footer {
    height: 20vh;
    color: yellow;
    margin-top: 10px;
    width: 100%;
    background-color: rgb( 212,201,173);
    text-align: center;
}
div a {
    padding: 10px;
}
.boton{
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: left;
}
.botonenlaces{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: F58723;
}
